---
http_interactions:
- request:
    method: get
    uri: https://query.yahooapis.com/v1/public/yql?callback=&diagnostics=true&env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.historicaldata%20WHERE%20symbol%20IN%20(%27AAPL%27)%20AND%20startDate%20=%20%272012-01-01%27%20AND%20endDate%20=%20%272012-12-31%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - main-5a0bcf1c-c16c-11e5-89b6-d89d676f9644
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":250,"created":"2016-01-24T15:10:16Z","lang":"en-US","diagnostics":{"url":[{"execution-start-time":"1","execution-stop-time":"22","execution-time":"21","content":"http://www.datatables.org/yahoo/finance/yahoo.finance.historicaldata.xml"},{"execution-start-time":"28","execution-stop-time":"49","execution-time":"21","content":"http://ichart.finance.yahoo.com/table.csv?a=0&b=1&e=31&g=d&c=2012&d=11&f=2012&s=AAPL"},{"execution-start-time":"55","execution-stop-time":"78","execution-time":"23","content":"http://ichart.finance.yahoo.com/table.csv?a=0&b=1&e=31&g=d&c=2012&d=11&f=2012&s=AAPL"}],"publiclyCallable":"true","cache":[{"execution-start-time":"26","execution-stop-time":"27","execution-time":"1","method":"GET","type":"MEMCACHED","content":"29ab972c0af3ce96c4b17d59a37c7f5c"},{"execution-start-time":"53","execution-stop-time":"54","execution-time":"1","method":"GET","type":"MEMCACHED","content":"68b953a23c4ecce25c2f65da638351d0"}],"query":[{"execution-start-time":"27","execution-stop-time":"53","execution-time":"26","params":"{url=[http://ichart.finance.yahoo.com/table.csv?a=0&b=1&e=31&g=d&c=2012&d=11&f=2012&s=AAPL]}","content":"select
        * from csv(0,1) where url=@url"},{"execution-start-time":"54","execution-stop-time":"84","execution-time":"30","params":"{columnsNames=[Date,Open,High,Low,Close,Volume,Adj_Close],
        url=[http://ichart.finance.yahoo.com/table.csv?a=0&b=1&e=31&g=d&c=2012&d=11&f=2012&s=AAPL]}","content":"select
        * from csv(2,0) where url=@url and columns=@columnsNames"}],"javascript":{"execution-start-time":"24","execution-stop-time":"2654","execution-time":"2630","instructions-used":"23818030","table-name":"yahoo.finance.historicaldata"},"user-time":"2660","service-time":"67","build-version":"0.2.386"},"results":{"quote":[{"Symbol":"AAPL","Date":"2012-12-31","Open":"510.529976","High":"535.400024","Low":"509.000008","Close":"532.169991","Volume":"164873100","Adj_Close":"71.415941"},{"Symbol":"AAPL","Date":"2012-12-28","Open":"510.290024","High":"514.480026","Low":"508.119987","Close":"509.589981","Volume":"88569600","Adj_Close":"68.385757"},{"Symbol":"AAPL","Date":"2012-12-27","Open":"513.539978","High":"516.25","Low":"504.659988","Close":"515.060013","Volume":"113780100","Adj_Close":"69.119823"},{"Symbol":"AAPL","Date":"2012-12-26","Open":"519.000023","High":"519.460007","Low":"511.120003","Close":"512.999992","Volume":"75609100","Adj_Close":"68.843373"},{"Sy[...]
[...]
