---
http_interactions:
- request:
    method: get
    uri: https://query.yahooapis.com/v1/public/yql?callback=&diagnostics=true&env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.historicaldata%20WHERE%20symbol%20IN%20(%27AAPL%27)%20AND%20startDate%20=%20%272016-01-04%27%20AND%20endDate%20=%20%272016-01-24%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - main-5a0a2159-c16c-11e5-89b6-d89d676f9644
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":14,"created":"2016-01-24T15:10:14Z","lang":"en-US","diagnostics":{"url":[{"execution-start-time":"0","execution-stop-time":"2","execution-time":"2","content":"http://www.datatables.org/yahoo/finance/yahoo.finance.historicaldata.xml"},{"execution-start-time":"8","execution-stop-time":"25","execution-time":"17","content":"http://ichart.finance.yahoo.com/table.csv?a=0&b=4&e=24&g=d&c=2016&d=0&f=2016&s=AAPL"},{"execution-start-time":"28","execution-stop-time":"48","execution-time":"20","content":"http://ichart.finance.yahoo.com/table.csv?a=0&b=4&e=24&g=d&c=2016&d=0&f=2016&s=AAPL"}],"publiclyCallable":"true","cache":[{"execution-start-time":"5","execution-stop-time":"6","execution-time":"1","method":"GET","type":"MEMCACHED","content":"2758c733902b3212f9fdeecc8f0b7691"},{"execution-start-time":"27","execution-stop-time":"27","execution-time":"0","method":"GET","type":"MEMCACHED","content":"05363569fb5facd0029641b37c5185b1"}],"query":[{"execution-start-time":"6","execution-stop-time":"27","execution-time":"21","params":"{url=[http://ichart.finance.yahoo.com/table.csv?a=0&b=4&e=24&g=d&c=2016&d=0&f=2016&s=AAPL]}","content":"select
        * from csv(0,1) where url=@url"},{"execution-start-time":"27","execution-stop-time":"48","execution-time":"21","params":"{columnsNames=[Date,Open,High,Low,Close,Volume,Adj_Close],
        url=[http://ichart.finance.yahoo.com/table.csv?a=0&b=4&e=24&g=d&c=2016&d=0&f=2016&s=AAPL]}","content":"select
        * from csv(2,0) where url=@url and columns=@columnsNames"}],"javascript":{"execution-start-time":"4","execution-stop-time":"56","execution-time":"52","instructions-used":"123225","table-name":"yahoo.finance.historicaldata"},"user-time":"57","service-time":"40","build-version":"0.2.386"},"results":{"quote":[{"Symbol":"AAPL","Date":"2016-01-22","Open":"98.629997","High":"101.459999","Low":"98.370003","Close":"101.419998","Volume":"65562800","Adj_Close":"101.419998"},{"Symbol":"AAPL","Date":"2016-01-21","Open":"97.059998","High":"97.879997","Low":"94.940002","Close":"96.300003","Volume":"52054500","Adj_Close":"96.300003"},{"Symbol":"AAPL","Date":"2016-01-20","Open":"95.099998","High":"98.190002","Low":"93.419998","Close":"96.790001","Volume":"72008300","Adj_Close":"96.790001"},{"Symbol":"AAPL","Date":"2016-01-19","Open":"98.410004","High":"98.650002","Low":"95.50","Close":"96.660004","Volume":"52841300","Adj_Close":"96.660004"},{"Symbol":"AAPL"[...]
