---
http_interactions:
- request:
    method: get
    uri: https://query.yahooapis.com/v1/public/yql?callback=&diagnostics=true&env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.quotes%20WHERE%20symbol%20IN%20(%27%5C/%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - main-5a28cc22-c16c-11e5-89b6-d89d676f9644
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"lang":"en-US","diagnostics":null,"description":"Query syntax
        error(s) [line 1:54 mismatched character ''/'' expecting set null]"}}'
  recorded_at: Sun, 24 Jan 2016 15:10:13 GMT
recorded_with: VCR 3.0.1
